{%extends 'pics/base.html'%}

 {% block content %}


  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="about">
            <h2> <strong>ABOUT MY GALLERY</strong></h2> 
            
              <p>  This is an apllication that allows users to   add images of their  favorite things and display them in a gallery.</p>
              <br>
              <p> You can pictures of  your favorite things here and  be able to documents all your experiences.</p> 
                    <br>
              <p>photos help us relive our ,most  precious times. </p>
              <hr>
          </div>
        </div>
    </div>
  </div>

</div>
 
{% endblock %}